.manrope-medium {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Mobile styles */
@media (max-width: 768px) {
  .author-info {
    display: flex;
  }

  .share-options {
    display: none;
  }

  /* Show share options when active */
  .share-active .author-info {
    display: none;
  }

  .share-active .share-options {
    display: flex;
  }
}
